<main>
	<div class="bd-masthead mb-3" id="content">
		<div class="container px-4 px-md-3">
			<div class="row align-items-lg-center">
				<div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5 text-center">
	        		<%= image_tag("bootstrap-solid.svg", width: '250px', class: 'img-fluid mb-3 mb-md-0', role: 'img', viewBox: '0 0 900 800')%>	
	      		</div>
				<div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
			        <h1 class="mb-3">Warren Kidman</h1>
			        <p class="lead mb-4">
			          This is my first Ruby on Rails project. I have previous experience building web applicaitons using MVC and bootstrap, so it wasn't much of a challenge. I learned alot about HTML/JavaScript/CSS along with setting up a RoR environment. If you are on desktop, resize the window to see how responsive Bootstrap can be.
			        </p>
	      		</div>
			</div>
		</div>
	</div>
</main>