<div class="starting-page-div">
  <!-- Stats side bar, only shown on game over -->
  <div class="hide-element" >
    <div></div>
    <div class="card-div">
      <div class="card" style="height: 100%;">
        <div class="card-header stats-header"> STATS </div>
        <div class="card-body">
          <div class="guess-distribution-row">
            <div class="guess-number">1</div>
            <div class="guess-bar" id="guess-1"></div>
          <div>
        </div>
        <div class="card-footer bg-dark" style="height: 10%;"> footer </div>
      </div>
    </div>
    <div></div>
  </div>
  <!-- Entire wordle game -->
  <div class="middle-div">
  <div>
    <!-- Only displays when user enters invalid word (not in dictionary) -->
    <div class="alert-wordle alert-warning fade" id="warning-alert">
      <b>That word is not in our dictionary :(</b>
    </div>
    <!-- GAME SQUARES -->
    <div class="row-div">
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
    </div>
    <div class="row-div">
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
    </div>
    <div class="row-div">
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
    </div>
    <div class="row-div">
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
    </div>
    <div class="row-div">
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
    </div>
    <div class="row-div">
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
        <textarea class="square wordle-letters" readonly></textarea>
    </div>
    <!-- KEYBOARD -->
    <div class="middle-div">
      <div class="row-div-10">
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
      </div>
    </div>
    <div class="middle-div">
      <div class="row-div-9">
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
      </div>
    </div>
    <div class="middle-div" id="bottom-row">
      <div class="row-div-7">
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
          <textarea class="keyboard keyboard-letters" readonly></textarea>
      </div>
    </div>
  </div>
</div>
  <div></div> 
</div>