<script> 
  window.addEventListener("load", function(){setUp();});
</script>
<%= javascript_pack_tag 'wordle' %>


<div class="outer-div my-1">
  
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
</div>
<div class="outer-div my-1">
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
</div>
<div class="outer-div my-1">
  
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
</div>
<div class="outer-div my-1">
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
</div>
<div class="outer-div my-1">
  
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
</div>
<div class="outer-div my-1">
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
    <textarea class="form square m-auto" onkeyup="move(this)"></textarea>
</div>
