<%= javascript_pack_tag 'wordle' %>
<script> 
  window.addEventListener("load", function(){
    setUp();
});
  window.addEventListener("keyup", function(){
    handleInput(window.event.keyCode);
});
  window.addEventListener("click", function(){
    document.getElementById("hidden").focus();
  });
</script>

<!-- hacky workaround to bring up keyboard on mobile -->
<input class="form m-auto hidden-form" id="hidden" autofocus>

<div class="outer-div">
  <div class="middle-div">
    <div class="innder-div">

      <!-- Only displays when user enters invalid word (not in dictionary) -->
      <div class="alert-wordle alert-warning alert-dismissible fade" role="alert" id="warning-alert"><b>That word is not in our dictionary :(</b></div>

      <div class="row-div" cols="5">
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
      </div>
      <div class="row-div">
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
      </div>
      <div class="row-div" cols="5">
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
      </div>
      <div class="row-div" cols="5">
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
      </div>
      <div class="row-div" cols="5">
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
      </div>
      <div class="row-div" cols="5">
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
          <textarea class="form square m-auto" readonly></textarea>
      </div>
      <div class="row-div-10" cols="10">
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
      </div>
      <div class="row-div-9" cols="9">
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
      </div>
      <div class="row-div-7" cols="7">
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
          <textarea class="form keyboard m-auto" readonly></textarea>
      </div>

    </div>
  </div>
</div>

<%= content_tag :div, id: "wordList", data: {words: @wordList} do %><% end %>
<%= content_tag :div, id: "wordAnswerList", data: {words: @wordAnswerList} do %><% end %>