<%= javascript_pack_tag 'wordle' %>
<script> 

  // Get user info from wordle controller and set up the game area
  window.addEventListener("load", function() {
    wordleFunc.getUserInfo();
  });
  
  // Update the game based on which character was typed
  window.addEventListener("keyup", function() {
    wordleFunc.handleInput(window.event.keyCode);
  });

  // Update the game based on which character was typed using the virtual keyboard
  function keyPress(element) {
    wordleFunc.keyPress(element);
  }

  function removeOverlay() {
    document.getElementById("overlay").setAttribute("style", "z-index: -100");
  }
</script>


<div class="flex-center" id="game-area">
  <div class="parent">
    <div id="game-animate">
        <!-- Only displays when user enters invalid word (not in dictionary) -->
        <div class="alert-wordle alert-warning fade" id="wordle-alert">
          <b>That word is not in our dictionary :(</b>
        </div>
        <!-- GAME SQUARES -->
        <div class="row-div">
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
        </div>
        <div class="row-div">
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
        </div>
        <div class="row-div">
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
        </div>
        <div class="row-div">
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
        </div>
        <div class="row-div">
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
        </div>
        <div class="row-div">
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
            <textarea class="square wordle-letters" readonly></textarea>
        </div>
      </div>
      <div class="overlay" id="overlay">
        <div class="toast-container game-over-toast">
          <div id="game-over-toast" class="toast" style="width: 100%;" data-bs-autohide="false">
            <div class="toast-header game-over-toast-header" id="game-over-header">
              <strong class="me-auto" id="game-over-header-message">Well Done!</strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" onclick="removeOverlay()" aria-label="Close"></button>
            </div>
            <div class="toast-body game-over-toast-body">
              <div class="big-stat-lable">STATISTICS</div>
              <div class="game-stats">
                <div class="game-stat-block">
                  <div class="game-stat-row-number">3</div>
                  <div class="game-stat-row-title">Played</div>
                </div>
                <div class="game-stat-block">
                  <div class="game-stat-row-number">100</div>
                  <div class="game-stat-row-title">Win%</div>
                </div>
                <div class="game-stat-block">
                  <div class="game-stat-row-number">2</div>
                  <div class="game-stat-row-title">Streak</div>
                </div>
                <div class="game-stat-block">
                  <div class="game-stat-row-number">2</div>
                  <div class="game-stat-row-title">Max Streak</div>
                </div>
              </div>
              <div class="big-stat-lable">GUESS DISTRIBUTION</div>
              <div class="guess-distribution-rows">
                <div class="guess-distribution-columns">
                  <div class="guess-number v-center">1</div>
                  <div class="guess-bar v-center" id="guess-bar-1">
                    <div class="v-center guess-number-total" id="guess-total-1">1</div>
                  </div>
                </div>
                <div class="guess-distribution-columns">
                  <div class="guess-number v-center">2</div>
                  <div class="guess-bar v-center" id="guess-bar-2">
                    <div class="v-center guess-number-total" id="guess-total-2">1</div>
                  </div>
                </div>
                <div class="guess-distribution-columns">
                  <div class="guess-number v-center">3</div>
                  <div class="guess-bar v-center" id="guess-bar-3">
                    <div class="v-center guess-number-total" id="guess-total-3">1</div>
                  </div>
                </div>
                <div class="guess-distribution-columns">
                  <div class="guess-number v-center">4</div>
                  <div class="guess-bar v-center" id="guess-bar-4">
                    <div class="v-center guess-number-total" id="guess-total-4">1</div>
                  </div>
                </div>
                <div class="guess-distribution-columns">
                  <div class="guess-number v-center">5</div>
                  <div class="guess-bar v-center" id="guess-bar-5">
                    <div class="v-center guess-number-total" id="guess-total-5">1</div>
                  </div>
                </div>
                <div class="guess-distribution-columns">
                  <div class="guess-number v-center">6</div>
                  <div class="guess-bar v-center" id="guess-bar-6">
                    <div class="v-center guess-number-total" id="guess-total-6">1</div>
                  </div>
                </div>
              </div>
              <!-- If user signed in, class="hidden-element"-->
              <div id="sign-up-message">
                <%= link_to 'Sign Up', 
                new_user_registration_path ,
                class:"nav-link sign-up-text" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="flex-center">
<div class="flex-center keyboard-div">
  <div>
    <!-- KEYBOARD -->
    <div class="flex-center">
      <div class="row-div-10">
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
      </div>
    </div>
    <div class="flex-center">
      <div class="row-div-9">
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
      </div>
    </div>
    <div class="flex-center" id="bottom-row" style="z-index: 1000;">
      <div class="row-div-bottom">
        <button class="keyboard keyboard-symbol keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-letters" onclick="keyPress(this)"></button>
        <button class="keyboard keyboard-symbol keyboard-letters" onclick="keyPress(this)"></button>
      </div>
    </div>
  </div>
</div>
</div>