/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Remove padding for body, allows us to use our own custom padding.
 * body was causing an issue where the nav bar had an ugly spacing above it. 

 * @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
*/

:root {
    --outer-div-width: 450;
    --square-size: calc(calc(var(--outer-div-width)/50) * 1vmin);
    --square-margins: calc(var(--square-size)/17);
    --row-width: calc(var(--square-size)*5.25);
    --row-margin: calc(var(--row-width)/15);
}

body {
    margin-top: 0!important;
    padding-top: 0!important
} 

.alert-wordle {
position: relative;
    padding: .51vmin;
    margin-bottom: .51vmin;
    border-radius: .25rem;
    font-size: 2.5vmin;
    text-align: center;
    height: 5vmin;
    line-height: 4.575vmin;
    width: var(--row-width);
    margin-left: var(--row-margin);
}
.hidden-form {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    height: 0;
    overflow: hidden;
    padding:  0!important;
    border:  0!important;
}

.outer-div {
    width: 100%;
    max-width: calc(var(--outer-div-width)*1px);
    margin: 0 auto;
    height: calc(100% - 5vmin);
    display: flex;
    flex-direction: column;
    flex:  1;
}

.middle-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex:  1;
    overflow: hidden;

}

.inner-div {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    /*grid-gap: 1vmin;
    padding: 2vmin;*/
    row-gap: 0!important;
    column-gap: 0!important;
    box-sizing: border-box;

}

.row-div {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    /*grid-gap: 1vmin;*/
    margin-top: var(--square-margins);
    margin-bottom: var(--square-margins);
    width: var(--row-width);
    margin-left: var(--row-margin);
}

.row-div-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /*grid-gap: 1vmin;*/
    margin-top: var(--square-margins);
    margin-bottom: var(--square-margins);
    width: var(--row-width);
    margin-left: var(--row-margin);
}

.row-div-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    /*grid-gap: 1vmin;*/
    margin-top: var(--square-margins);
    margin-bottom: var(--square-margins);
    width: calc(var(--row-width)*.9);
    margin-left: calc(var(--row-width)/8.75);
}

.row-div-7 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*grid-gap: 1vmin;*/
    margin-top: var(--square-margins);
    margin-bottom: var(--square-margins);
    width: calc(var(--row-width)*.7);
    margin-left: calc(var(--row-width)/4.7);
}

textarea.square {
    resize: none;
    width: var(--square-size);
    height: var(--square-size);
    font-size: calc(var(--square-size)/2);
    line-height: calc(var(--square-size)/1.1);
    vertical-align: middle;
    text-align: center;
    border:  solid lightgrey .5vmin;
    text-transform: uppercase;
    font-weight:700;
    box-sizing: border-box;
    border-radius: 0.5vmin;
    overflow: hidden;
}

textarea.keyboard {
    resize: none;
    width: calc(var(--square-size)/2);
    height: calc(var(--square-size)/2);
    font-size: calc(var(--square-size)/4);
    line-height: calc(var(--square-size)/2.5);
    vertical-align: middle;
    text-align: center;
    border:  solid lightgrey 0.4vmin;
    text-transform: uppercase;
    font-weight:700;
    box-sizing: border-box;
    border-radius: 0.25vmin;
    overflow: hidden;
}

textarea.square:focus {
    outline: none;
}
textarea.keyboard:focus {
    outline: none;
}

.container {
    padding-right: var(--bs-gutter-x,.25rem);
    padding-left: var(--bs-gutter-x,.25rem);
}

.bg-lightgrey {
  background-color:#e9ecef;
}

.border-2 {
    border-width:3px;
}

.friend-name {
  font-size: 110%;
  text-transform: uppercase;
}

/* Allows the about page to be fullscreen, overriding it's parent
 * container class*/
.about-page {
    margin-right: -25.0%!important;
    margin-left: -25.0%!important;
}

.navbar {
    margin-bottom: 5vmin;
}

/* Allows us to set the width-breakpoint for collapsing the navbar */
@media (min-width: 950px) {
    .navbar-expand-custom {
        flex-wrap:nowrap;
        justify-content: flex-start
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-custom .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }

    .navbar-expand-custom .navbar-toggler {
        display: none
    }

    .navbar-expand-custom .offcanvas-header {
        display: none
    }

    .navbar-expand-custom .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible!important;
        background-color: transparent;
        border-right: 0;
        border-left: 0;
        transition: none;
        transform: none
    }

    .navbar-expand-custom .offcanvas-bottom,.navbar-expand-custom .offcanvas-top {
        height: auto;
        border-top: 0;
        border-bottom: 0
    }

    .navbar-expand-custom .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}



