/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Body was creating an issue with the nav-header, adding a blank space to the top*/
body {
    margin-top: 0!important;
    padding-top: 0!important
} 

.container {
    padding-right: var(--bs-gutter-x,.25rem);
    padding-left: var(--bs-gutter-x,.25rem);
}

.bg-lightgrey {
  background-color:#e9ecef;
}

.border-2 {
    border-width:3px;
}

.friend-name {
  font-size: 110%;
  text-transform: uppercase;
}

/* Allows the about page to be fullscreen, overriding it's parent
 * container class*/
.about-page {
    margin-right: -25.0%!important;
    margin-left: -25.0%!important;
}

.navbar {
    margin-bottom: 5vmin;
}

/* Allows us to set the width-breakpoint for collapsing the navbar */
@media (min-width: 950px) {
    .navbar-expand-custom {
        flex-wrap:nowrap;
        justify-content: flex-start
    }

    .navbar-expand-custom .navbar-nav {
        flex-direction: row
    }

    .navbar-expand-custom .navbar-nav .dropdown-menu {
        position: absolute
    }

    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem
    }

    .navbar-expand-custom .navbar-nav-scroll {
        overflow: visible
    }

    .navbar-expand-custom .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }

    .navbar-expand-custom .navbar-toggler {
        display: none
    }

    .navbar-expand-custom .offcanvas-header {
        display: none
    }

    .navbar-expand-custom .offcanvas {
        position: inherit;
        bottom: 0;
        z-index: 1000;
        flex-grow: 1;
        visibility: visible!important;
        background-color: transparent;
        border-right: 0;
        border-left: 0;
        transition: none;
        transform: none
    }

    .navbar-expand-custom .offcanvas-bottom,.navbar-expand-custom .offcanvas-top {
        height: auto;
        border-top: 0;
        border-bottom: 0
    }

    .navbar-expand-custom .offcanvas-body {
        display: flex;
        flex-grow: 0;
        padding: 0;
        overflow-y: visible
    }
}


