/*
 * Styling for wordle.html.erb. 
 * Modifications to this file should also be reflected in wordle.js
 */

:root {
    --game-area-width: 400;
    --square-size: 60px;
    --square-size-half: calc(var(--square-size)/2);
    --square-size-quart: calc(var(--square-size)/4);
    --square-margins: calc(var(--square-size)/17);
    --square-border:  calc(var(--square-size)/30);
    --wordle-green: #6aaa64;
    --wordle-yellow: #c9b458;
    --bootstrap-green-text: #0f5132;
    --bootstrap-green-bg: #6aaa64;

}

@media(max-height: 725px) {
    :root {
        --game-area-width: 400;
        --square-size: calc(calc(var(--game-area-width)/50) * 1vh);
        --square-size-half: calc(var(--square-size)/2);
        --square-size-quart: calc(var(--square-size)/4);
        --square-margins: calc(var(--square-size)/17);
        --square-border:  calc(var(--square-size)/30);
    }
}

@media(max-width: 475px) {
    :root {
        --game-area-width: 625;
        --square-size: calc(calc(var(--game-area-width)/50) * 1vmin);
        --square-size-half: calc(var(--square-size)/2);
        --square-size-quart: calc(var(--square-size)/4);
        --square-margins: calc(var(--square-size)/17);
        --square-border:  calc(var(--square-size)/30);
    }
}

/* WORDLE GAME AREA */
/* ************************************************* */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-div {
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: var(--square-margins);
    margin-bottom: var(--square-margins);
}

textarea.square {
    resize: none;
    width: var(--square-size);
    height: var(--square-size);
    border:  var(--square-border);
    border-radius: 0.5vmin;
    overflow: hidden;
}

.wordle-letters {
    font-size: var(--square-size-half);
    line-height: calc(var(--square-size)/1.1);
    text-align: center;
    font-weight:700;
    text-transform: uppercase;
}

textarea.square:focus {
    outline: none;
}

.alert-wordle {
    font-size: calc(var(--square-size)/3.5);
    height: var(--square-size-half);
    text-align: center;
    line-height: calc(var(--square-size-half));
    padding: 0;
    margin-bottom: calc(var(--square-margins)/2);
}

/* KEYBOARD STYLING */
/* ********************************************** */
.keyboard-div {
    position: fixed;
    bottom: 0;
    margin: var(--square-size-quart);
}

.row-div-10 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin-bottom: calc(var(--square-size-half)/5);
    grid-column-gap: calc(var(--square-size-half)/7);
}

.row-div-9 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    margin-bottom: calc(var(--square-size-half)/5);
    grid-column-gap: calc(var(--square-size-half)/7);
    
}

.row-div-bottom {
    display: grid;
    grid-template-columns: 1.5fr repeat(7, 1fr) 1.5fr;
    grid-column-gap: calc(var(--square-size-half)/7);
}


button.keyboard {
    display: flex;
    width: calc(var(--square-size) / 1.5);
    height: var(--square-size);
    border:  solid lightgrey 0.2vmin;;
    border-radius: 1vmin;
    overflow: hidden;
    margin-right: auto!important;
    margin-left: auto!important;
    background-color: lightgrey;
    touch-action: manipulation;
    justify-content: center;
    align-items: center;
}

.keyboard-letters {
    font-size: var(--square-size-quart);
    text-align: center;
    font-weight:700;
    text-transform: uppercase;
    touch-action: manipulation;
}

.keyboard-symbol {
    width: var(--square-size)!important;
}

button.keyboard-symbol:focus {
    outline: none;
}

button.keyboard:focus {
    outline: none;
}

.new-game-button {
    display: flex;
    width: 100%;
    height: var(--square-size);
    font-size: var(--square-size-half);
    font-weight:700;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
}



/* WORDLE TOAST */
/* ************************************************* */
.overlay {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
}

.parent {
    position: relative;
}

.game-stats {
    display: flex;
}

.big-stat-lable {
    font-weight: 700;
    color: var(--bootstrap-green-text);
    font-size: var(--square-size-quart);
}

.game-stat-block {
    display: block;
    flex: 1;
}
.game-row-stats {
    display: grid;
    grid-template-rows: var(--square-size-quart) var(--square-size-quart);
}

.game-stat-row-number {
    font-size: calc(var(--square-size)/3);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.game-stat-row-title {
    font-size: calc(var(--square-size)/6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: calc(var(--square-size)/6);
}

.game-over-toast {
    position: relative;
    margin-top: var(--square-size);
    padding: var(--square-size-quart);
    width: 100%;
    height: 100%;
}

.game-over-toast-header {
    height: var(--square-size);
    font-size: calc(var(--square-size)/3.5);
    font-weight: 700;
    text-align: center;  
    background-color: var(--wordle-green);
    color: white;
    opacity: 100%;
    border-bottom: solid var(--bs-success-rgb) calc(var(--square-size)/15);
}

.game-over-toast-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
}

.guess-bar {
    background-color: grey;
    height: 70%;
    text-align: right;
}

.guess-number {
    font-size: calc(var(--square-size)/5);
    font-weight: 700;
}

.guess-number-total {
    color: white;
    font-size: calc(var(--square-size)/6);
    margin-right: calc(var(--square-size)/12);
    font-weight: 700;
}

.v-center {
    position: relative;
    transform: translatey(-50%);
    top: 50%;
}
.guess-distribution-rows {
    display: grid;
    grid-template-rows: repeat(6, 10%);
    grid-row-gap: 5%;
    width: 100%;
}
.guess-distribution-columns {
    display:  grid;
    grid-template-columns: 10% 80% 10%;
    
}
